
/* .input-group{
    width: 20vw;
} */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    /* height: 100vh;  */
  }
  